name: ShellCheck

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "./scripts"
  todo-smoke:
    name: Todo smoke test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run smoke test
        run: scripts/todo/test/smoke.sh
